body {
    font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
    color: white;
    margin: 0;
    padding: 0;
}

header{
    background:white;
}

.uni_name {
    padding: 0px 10px;
    display: block;
    background: red;
    font-size: x-large;
}

.conf_name{
    padding: 0px 20px;
    font-size: large;
}

.nav_bar ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav_bar li {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: auto;
    text-align: center;
}

.title_background{
    width: 100%;
}

.intro_text {
    padding-top:12px;
    padding-left:30px;
    width:420px;
    height:320px;
    position: absolute;
    bottom:-70px;
    right:500px;
    background-color:#ffffff;
    opacity: 0.6;
    color:black;
}

.img_text_title {
    font-size: 28px;
    font-family:'DM Sans', sans-serif;
    font-weight:700;
    padding-bottom: 9px;
    color:black;
}

footer{
    margin: 0;
    padding: 20px 0px 20px 50px;
    background: black;
}